<div class="">
  <!--  ABOUT  -->
  <div class="about main-block bgstep1">
    <div class="left-content col-lg-12">
      <div class="scroller">
        <article class="left-content-text article">
          <a class="" href="#">
            <img src=".../../../../assets/images/img/logo.svg" class="logo2" />
          </a>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 mobilethanku">
              <div
                class="form col-lg-12 col-md-12 col-sm-12 desktopstep1 mobilethanku"
              >
                <h2 class="whitecolorhead">Thank you!</h2>
              </div>
            </div>
          </div>
          <div class="row desktop mobilestep2">
            <p class="whitecolorparaty">
              Your account has been created and an email has been sent to:
            </p>
            <p class="whitecolorparasmall">
              <a href="#" style="color: #aaddca">{{ email }}</a>
            </p>
            <p class="whitecolorparasmall">
              Please click on the link within the next 24hrs to verify your
              details.
            </p>
            <a href="#">
              <input
                value="Start with KarmaPact..."
                class="desktopbutton"
                type="submit"
                name="submit"
              />
            </a>
          </div>
        </article>
      </div>
      <div class="scroller__track">
        <div class="scroller__bar"></div>
      </div>
    </div>
  </div>
  <!--  //ABOUT  -->
</div>
