<div class="left-menu">
  <!--  LOGO  -->
  <a class="logo" href="#">
    <img src="../../../assets/images/img/logo.svg" class="logo1" />
  </a>
  <!--  //LOGO  -->
  <!--  NAVIGATION  -->
  <nav class="main-navi">
    <ul>
      <li class="active"><a href="index.html">Home</a></li>
      <li>
        <div>Metadata</div>
        <ul class="drop-down">
          <li>
            <a href="#"> Manage NGO List </a>
          </li>
        </ul>
      </li>
      <li>
        <div>Manage Corporate Admin</div>
        <ul class="drop-down">
          <li>
            <a href="#"> Register New Corporate </a>
          </li>
        </ul>
      </li>
    </ul>
    <em id="showHideMenu" class="show-hide-menu glyph fa-bars" href="#"></em>
  </nav>
</div>
<router-outlet></router-outlet>
