.sidebar,
.bootstrap-navbar {
  position: absolute;
  top: 57px;
  bottom: 0;
  left: 0;
  width: 215px;
  display: block;
  z-index: 5;
  color: $sidebar-inactive-text-clr;
  font-weight: 200;
  background-size: cover;
  background-position: center center;
  .sidebar-wrapper {
    position: relative;
    max-height: calc(100vh - 75px);
    min-height: 100%;
    overflow: auto;
    width: 215px;
    z-index: 4;
    background-color: $sidebar-bg;
    // padding-bottom: 75px;
    .dropdown .dropdown-backdrop {
      display: none !important;
    }
  }
  .sidebar-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
  }
  .logo {
    padding: $navbar-padding-b;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    height: 63px;
    text-align: center;
    img {
      width: 55px;
    }
    p {
      float: left;
      font-size: 20px;
      margin: 10px 10px;
      color: $white-color;
      line-height: 20px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .simple-text {
      text-transform: uppercase;
      padding: $padding-small-vertical $padding-zero;
      display: block;
      font-size: $font-size-large;
      color: $white-color;
      text-align: left;
      font-weight: $font-weight-normal;
      line-height: 30px;
    }
  }
  .logo-img {
    width: 100%;
    display: block;
    max-height: 30px;
    margin-right: 10px;
    img {
      width: 50px;
      top: 11px;
      position: absolute;
    }
  }
  .logo-tim {
    border-radius: 50%;
    border: 1px solid #333;
    display: block;
    height: 61px;
    width: 61px;
    float: left;
    overflow: hidden;
    img {
      width: 60px;
      height: 60px;
    }
  }
  .nav {
    margin-top: 0px;
    float: none;
    height: calc(100vh - 50px);
    li {
      &:hover {
        border-left: 3px solid #fff;
        border-right: 4px solid #000;
      }
      > a {
        padding-left: 10px;
        padding-right: 10px;
        color: #b1b5b8;
        margin: 0px;
        opacity: 1;
        padding-top: 13px;
        padding-bottom: 13px;
        border-radius: 4px;
        display: block;
        border-bottom: 1px solid #40454f;
      }
      &:hover > a {
        height: 100%;
        background: rgba(255, 255, 255, 0.13);
        opacity: 1;
      }
      &:hover > a > i {
        background: rgba(255, 255, 255, 0.13);
        opacity: 1;
        color: $sidebar-hover-text-clr;
      }
      &.active > a {
        height: 100%;
        color: #ffffff;
        opacity: 1;
        background: $sidebar-active-text-clr;
      }
      &.active {
        border-left: 3px solid #fff;
      }
      &.active > a > i {
        background-color: $theme-primary-hover-bg;
        color: $theme-primary-hover-color;
      }
      a.dropdown-toggle {
        background-color: transparent;
        outline: none;
      }
      &.separator {
        margin: 15px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        & + li {
          margin-top: 31px;
        }
      }
      .submenu-toggle {
        height: 31px;
        padding-top: 4px;
        line-height: 26px;
        background: none;
        margin-right: -5px;
      }
    }
    p {
      margin: 0;
      line-height: 30px;
      font-size: 12px;
      font-weight: 600;
      margin-left: 45px;
      color: $sidebar-inactive-text-clr;
    }
    i {
      // font-size: 24px;
      // float: left;
      // margin-right: 15px;
      // line-height: 30px;
      // width: 30px;
      // text-align: center;
      // color: $white-color;
      text-align: center;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      font-size: 16px;
      color: #fff;
      color: rgba(255, 255, 255, 0.5);
      background: rgba(0, 0, 0, 0.5);
      position: relative;
      overflow: hidden;
      float: left;
      width: 32px;
      height: 32px;
      line-height: 32px;
      margin: -6px 13px -6px 0;
    }
    .caret {
      margin-top: 13px;
      position: absolute;
      right: 30px;
    }
  }
  .logo {
    padding: $navbar-padding-b;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    p {
      float: left;
      font-size: 20px;
      margin: 10px 10px;
      color: $white-color;
      line-height: 20px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .simple-text {
      text-transform: uppercase;
      padding: 5px 5px 5px 5px;
      display: block;
      font-size: $font-size-large;
      color: $white-color;
      text-align: left;
      font-weight: $font-weight-normal;
      line-height: 30px;
    }
  }
  .logo-tim {
    border-radius: 50%;
    border: 1px solid #333;
    display: block;
    height: 61px;
    width: 61px;
    float: left;
    overflow: hidden;
    img {
      width: 60px;
      height: 60px;
    }
  }
  &:after,
  &:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
  &:before {
    opacity: 0.33;
    background: #000000;
  }
  &:after {
    @include icon-gradient($black-color-top, $black-color-bottom);
    z-index: 3;
    opacity: 1;
  }
  &[data-image]:after,
  &.has-image:after {
    opacity: 0.77;
  }
  &[data-color="blue"]:after {
    @include icon-gradient($new-dark-blue, $blue-color-bottom);
  }
  &[data-color="azure"]:after {
    @include icon-gradient($new-blue, $azure-color-bottom);
  }
  &[data-color="green"]:after {
    @include icon-gradient($new-green, $green-color-bottom);
  }
  &[data-color="orange"]:after {
    @include icon-gradient($new-orange, $orange-color-bottom);
  }
  &[data-color="red"]:after {
    @include icon-gradient($new-red, $red-color-bottom);
  }
  &[data-color="purple"]:after {
    @include icon-gradient($new-purple, $purple-color-bottom);
  }
}

.main-panel {
  background: rgba(203, 203, 210, 0.15);
  position: relative;
  z-index: 2;
  float: right;
  width: $sidebar-width;
  min-height: 100%;
  overflow: auto;
  .main-content {
    padding: 20px 5px 0px 5px;
    // min-height: calc(100vh - 123px);
  }
  > .footer {
    border-top: 1px solid #e7e7e7;
  }
  .navbar {
    margin-bottom: 0;
  }
}

.sidebar,
.main-panel,
.sidebar-wrapper,
.navbar-cmp-fixed .navbar {
  -webkit-transition-property: top, bottom, width;
  transition-property: top, bottom, width;
  -webkit-transition-duration: 0.8s, 0.8s, 0.1s;
  transition-duration: 0.8s, 0.8s, 0.1s;
  -webkit-transition-timing-function: linear, linear, ease;
  transition-timing-function: linear, linear, ease;
  -webkit-overflow-scrolling: touch;
}

.main-panel {
  max-height: 100%;
  height: 100%;
}

// .sidebar-wrapper {
//     .cnav >li {
//         position: relative;
//         display: block;
//         height: 50px;
//         width: auto;
//     }
// }
.sidebar-wrapper-toggle {
  width: 60px !important;
  ul {
    > li > a > .menu-title {
      display: none;
    }
    .sub-menu-option-arrow {
      display: none;
    }
  }
  .sidebar-navigator .navigator {
    display: none;
  }
  .sidebar-navigator {
    padding: 20px 15px;
    .leftArrow {
      display: none;
    }
    .rightArrow {
      display: inline;
    }
  }
}

.main-panel-toggle {
  width: calc(100% - 60px);
}

.side-bar-toggle {
  width: 60px;
}

.sidebar-navigator {
  position: absolute;
  bottom: 0px;
  padding: 10px 15px;
  text-align: center;
  > i {
    border-radius: 50%;
    padding: 5px 5px 5px 5px;
    font-weight: 900;
    width: 25px;
    font-size: 14px;
    position: absolute;
    background: #24292e;
    margin-top: -12px;
    margin-left: -10px;
    cursor: pointer;
  }
  .navigator {
    height: 2px;
    margin-top: 0px;
    border: 2px solid $sidebar-active-text-clr;
    width: 100%;
    margin-bottom: 10px;
    > i:hover {
      filter: alpha(opacity=80);
      opacity: 0.8;
      color: #000;
      background-color: #ddd;
      -moz-box-shadow: 0 0 10px #ccc;
      -webkit-box-shadow: 0 0 10px #ccc;
      box-shadow: 0 0 10px #ccc;
    }
  }
  .rightArrow {
    display: none;
  }
  .leftArrow {
    display: inline;
  }
}

@media (max-width: 768px) {
  .main-panel {
    max-width: calc(100vw - 60px);
    width: calc(100vw - 60px);
    padding-right: 5px;
    padding-left: 5px;
  }
  .sidebar-navigator {
    display: none;
  }
}
