<div class="">
  <div class="about main-block bglogin">
    <div class="left-content col-lg-12">
      <div class="scroller">
        <article class="left-content-text article">
          <a class="" href="#">
            <img src="assets/images/img/logo.svg" class="logo2" />
          </a>
          <div class="row desktop mobilestep1">
            <form class="row">
              <div class="clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <input
                    name=""
                    class="desktoptext"
                    placeholder="Your work email..."
                    type="text"
                    required
                    name="email"
                    [(ngModel)]="loginObj.email"
                  />
                </div>
              </div>
              <div class="clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <input
                    name=""
                    class="desktoptext"
                    placeholder="Password..."
                    type="password"
                    required
                    name="password"
                    [(ngModel)]="loginObj.password"
                  />
                </div>
              </div>
              <div class="clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <input
                    value="Login"
                    class="desktopbutton"
                    type="submit"
                    name="submit"
                    (click)="doLogin()"
                  />
                </div>
              </div>
              <div class="clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <p class="whitecolorparasmallcenter">
                    <a [routerLink]="['/forgot-password']"
                      >Forgot your password?
                    </a>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </article>
      </div>
      <div class="scroller__track">
        <div class="scroller__bar"></div>
      </div>
    </div>
  </div>
</div>
